body {
    background-color: #deeff5;
    font-family: verdana;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
.error {
    color: red;
}

.scrollBar {
    overflow-x: auto;
    height: 400px;
    overflow-y: scroll;
}
#app h1 {
    margin-top: -5px;
}

/* Nav Container */

#navContainer {
    display: flex;
    align-items: center;
}

#logoContainer {
    align-items: center;
    display: flex;
    padding-left: 30px;
}

/* flash message styles */
.flash-message {
    color: #ef4527;
    font-weight: bold;
    font-size: 18px;
    width: 400px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}



.navBar {
    display: flex;
    background-color: #ef4527;
    height: 70px;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.navBar a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.navLogo {
    top: 15px;
    left: 15px;
}

.navTitle {
    top: 25px;
    left: 25px;
    font-size: 16px;
    font-weight: 500;
}

.navItems li {
    display: inline-block;
    padding: 10px;
    font-size: 12px;
}
.addButton {
    margin-left: 5%;
}

h2 {
    margin-left: 5%;
}

/* ------------------------- HOME STYLES ------------------------------- */

.client_quick_add {
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
}




/* Table Styles */

table {
    height: 200px;
    overflow-y: scroll;
}
table, table th, table td {
    border: 1px solid #BDBDBD;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;

}
table th {
    padding: 10px;
}

table td {
    padding: 5px;
}
table tr:hover{background-color: #E0E0E0;}
tr:nth-child(even) {background-color: #EEEEEE;}

.selected {
    color: slateblue; 
    font-weight: bold;
}

.navItems li:hover{
    background-color: #FF5722;
    cursor: pointer;
}

th {
    font-size: 14px;
    white-space: nowrap;
}
td {
    font-size: 10px;
    //overflow-y: auto;
    width: 80px;
}
td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main{
    background-color: white;
    width: 95%;
    margin: 0 auto;
    position: relative;
    top: 20px;
    padding: 30px;
    -webkit-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.75);
}



.pageCount{
    float: right;
    position: relative;
    right: 37px;
}

.pageList li{
    display: inline-block;
    font-size: 20px;
    padding: 12px;
    border: 1px solid #BDBDBD;
    margin-left: -5px;
}

.pageList li:hover{background-color: #E0E0E0;}

footer {
    padding: 10px;
}

.col-sm-6 {
    padding-top: 10px;
}