
<div id="app" class="main">
    <div v-if="moreState === false">
        <h2>Position List</h2>
        <hr />
        <template v-if="errors.length">
            <p>
                <b>Please correct the following error(s):</b>
                <ul>
                    <li v-for="error in errors" style="color: red;">{{ error }}</li>
                </ul>
            </p>
        </template>
        <div v-if="addState === false">
            <button v-on:click="addState = true" class="btn btn-primary">
                Add Position
            </button>
            <div class="form-group"></div>
        </div>
        <template v-else>
            <div class="form-horizontal">
                <!-- ROW ONE BEGIN-->
                <div class="col-sm-6">
                    <label class="col-sm-4" for="">Position Name: </label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" v-model="positionName"/>
                        <span class="error">{{ errors.positionName }}</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4" for="">Duration (months):</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="number" v-model="duration" />
                        <template v-if="errors.duration"><span class="error">{{ errors.duration }}</span></template>
                    </div>
                </div>
                <div class="form-group"></div>

                <div class="col-sm-6">
                    <label class="col-sm-4" for="">Accepted Candidate:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" v-model="acceptedCandidate" />
                        <template v-if="errors.acceptedCandidate">
                            <span class="error">{{ errors.acceptedCandidate }}</span>
                        </template>
                    </div>
                </div>
                <div class="col-sm-6">

                    <label class="col-sm-4" for="">Skillset:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" v-model="skillset" />
                        <template v-if="errors.skillset">
                            <span class="error">{{ errors.skillset }}</span>
                        </template>
                    </div>
                </div>
                <div class="form-group"></div>

                <div class="col-sm-6">
                    <label class="col-sm-4" for="">Rate:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="number" v-model="rate" />
                        <template v-if="errors.rate">
                            <span class="error">{{ errors.rate }}</span>
                        </template>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4" for="">Expected Start Date:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="date" v-model="expectedStartDate"/>
                        <template v-if="errors.expectedStartDate">
                            <span class="error">{{ errors.expectedStartDate }}</span>
                        </template>
                    </div>
                </div>
                <div class="form-group"></div>

                <div class="col-sm-6">
                    <label class="col-sm-4" for="">Hire Candidate:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" v-model="hireCandidate" />
                        <template v-if="errors.hireCandidate">
                            <span class="error">{{ errors.hireCandidate }}</span>
                        </template>
                    </div>
                </div>
                <div class="col-sm-6">

                    <label class="col-sm-4" for="">Proposed Candidate:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" v-model="proposedCandidate" />
                        <template v-if="errors.proposedCandidate">
                            <span class="error">{{ errors.proposedCandidate }}</span>
                        </template>
                    </div>
                </div>
                <div class="form-group"></div>

                <div class="col-sm-6">
                    <label class="col-sm-4" for="">Rejected Candidate:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" v-model="rejectedCandidate" />
                        <template v-if="errors.rejectedCandidate">
                            <span class="error">{{ errors.rejectedCandidate }}</span>
                        </template>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4" for="">Position Note:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" v-model="positionNote" />
                        <template v-if="errors.positionNote">
                            <span class="error">{{ errors.positionNote }}</span>
                        </template>
                    </div>
                </div>
                <div class="form-group"></div>

                <div class="col-sm-6">
                    <label class="col-sm-4" for="">Number of Positions:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="number" v-model="numberOfPositions" />
                        <template v-if="errors.numberOfPositions">
                            <span class="error">{{ errors.numberOfPositions }}</span>
                        </template>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4">Position Status: </label>
                    <div class="col-sm-8">
                        <select class="form-control" v-model="positionStatusId">
                            <option v-for="positionStatus in positionStatuses" :value="positionStatus.PositionStatusId">{{ positionStatus.PositionStatusName }}</option>
                        </select>
                        <template v-if="errors.positionStatusId">
                            <span class="error">{{ errors.positionStatusId }}</span>
                        </template>
                    </div>
                </div>
                <div class="form-group"></div>
                <div class="col-sm-6">
                    <label class="col-sm-4">Opportunity: </label>
                    <div class="col-sm-8">
                        <select class="form-control" v-model="opportunityId">
                            <option v-for="opportunity in opportunities" :value="opportunity.OpportunityId">{{ opportunity.OpportunityName }}</option>
                        </select>
                        <template v-if="errors.opportunityId">
                            <span class="error">{{ errors.opportunityId }}</span>
                        </template>
                    </div>
                </div>


                <div class="col-sm-6">
                    <label class="col-sm-4">Unit Practice: </label>
                    <div class="col-sm-8">
                        <select class="form-control" v-model="unitPracticeId">
                            <option v-for="unit in units" :value="unit.UnitId"> {{ unit.UnitName }}</option>
                        </select>
                        <template v-if="errors.unitPracticeId">
                            <span class="error">{{ errors.unitPracticeId }}</span>
                        </template>
                    </div>
                </div>
                <div class="form-group"></div>
                <div class="col-sm-6">
                    <label class="col-sm-4">Min Consultant Grade: </label>
                    <div class="col-sm-8">
                        <select class="form-control" v-model="minConsultantGradeId">
                            <option v-for="grade in grades" :value="grade.GradeId"> {{ grade.GradeName }}</option>
                        </select>
                        <template v-if="errors.minConsultantGradeId">
                            <span class="error">{{ errors.minConsultantGradeId }}</span>
                        </template>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4">Max Consultant Grade: </label>
                    <div class="col-sm-8">
                        <select class="form-control" v-model="maxConsultantGradeId">
                            <option v-for="grade in grades" :value="grade.GradeId">{{ grade.GradeName }}</option>
                        </select>
                        <template v-if="errors.maxConsultantGradeId">
                            <span class="error">{{ errors.maxConsultantGradeId }}</span>
                        </template>
                    </div>
                </div>
                <!--/////////////FORM SUBMISSION AND CANCEL BUTTONS/////////////////-->
                <div class="col-sm-offset-3 col-sm-6">
                    <button v-on:click="onSubmit" class="btn btn-primary">Submit</button>
                    <button v-on:click="cancel" class="btn btn-danger">Cancel</button>
                </div>

                <div class="form-group"></div>
            </div>
        </template>


        <template>
            <table>
                <tr>
                    <th>Position Name</th>
                    <th>Number of Positions</th>
                    <th>Duration</th>
                    <th>Accepted Candidate</th>
                    <th>Skillset</th>
                    <th>Rate</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr v-for="position in positions">
                    <td>{{ position.PositionName }}</td>
                    <td>{{ position.NumberOfPositions }}</td>
                    <td>{{ position.Duration }} months</td>
                    <td>{{ position.AcceptedCandidate }}</td>
                    <td>{{ position.Skillset }}</td>
                    <td>{{ position.Rate }}</td>
                    <td><button class="btn btn-success" v-on:click="onEdit(position)">Edit</button></td>
                    <td><button class="btn btn-warning" v-on:click="displayDetail(position)">Details</button></td>
                    <td><button class="btn btn-danger">Delete</button></td>

                </tr>
            </table>
        </template>
    </div>
    <!-- DISPLAY DETAILED INFORMATION ABOUT POSITION -->
    <template v-else>
        <button class="btn btn-warning" v-on:click="positionDetail = false; moreState = false;">Back</button>
        <h3>{{this.positionDetail.PositionName}}</h3>
        <hr />
        <h5>Number of Positions: {{ this.positionDetail.NumberOfPositions }}</h5>
        <h5>Duration: {{ this.positionDetail.Duration }} Months</h5>
        <h5>Expected Start: {{this.positionDetail.ExpectedStartDate}}</h5>
        <h5>Position Status ID: {{ getPositionStatus(this.positionDetail.PositionStatusId) }}</h5>
        <h5>Unit Practice ID: {{ getUnitName(this.positionDetail.UnitPracticeId) }}</h5>
        <h5>Opportunity ID: {{ getOpportunityName(this.positionDetail.OpportunityId) }}</h5>
        <br />
        <table>
            <tr>
                <th>Accepted Candidate</th>
                <th>Proposed Candidate</th>
                <th>Hire Candidate</th>
                <th>Rejected Candidate</th>
            </tr>
            <tr>
                <td>{{this.positionDetail.AcceptedCandidate}}</td>
                <td>{{this.positionDetail.ProposedCandidate}}</td>
                <td>{{this.positionDetail.HireCandidate}}</td>
                <td>{{this.positionDetail.RejectedCandidate}}</td>
            </tr>
            <tr>
                <th>Number of Positions</th>
                <th>Max Consultant Grade</th>
                <th>Min Consultant Grade</th>
                <th>Rate</th>
            </tr>
            <tr>
                <td>{{this.positionDetail.NumberOfPositions}}</td>
                <td>{{ getGradeName(this.positionDetail.MaxConsultantGradeId) }}</td>
                <td>{{ getGradeName(this.positionDetail.MinConsultantGradeId) }}</td>
                <td>{{this.positionDetail.Rate}}</td>
            </tr>
        </table>
        <h4><strong>Skillset:</strong></h4>
        <h5>{{this.positionDetail.Skillset}}</h5>
        <h4>Notes:</h4>
        <p>{{this.positionDetail.PositionNote}}</p>
    </template>
</div>
</div>
<script type="text/javascript" src="../../Scripts/App/Position/position.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
