
<div id="app" class="main">
    <div v-if="moreState === false">
        <h1>Position List</h1>
        <hr />
        <div v-if="addState === false">
            <button v-on:click="addState = true" class="btn btn-primary">
                Add Position
            </button>
            <div class="form-group"></div>
        </div>
        <template v-else>
            <div class="form-horizontal">
                <!-- ROW ONE BEGIN-->
                <div class="col-sm-6">
                    <label class="col-sm-4" for="">Position Name: </label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" v-model="positionName" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4" for="">Duration:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" v-model="duration" />
                    </div>
                </div>
                <div class="form-group"></div>

                <div class="col-sm-6">
                    <label class="col-sm-4" for="">Accepted Candidate:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" v-model="acceptedCandidate" />
                    </div>
                </div>
                <div class="col-sm-6">

                    <label class="col-sm-4" for="">Skillset:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" v-model="skillset" />
                    </div>
                </div>
                <div class="form-group"></div>

                <div class="col-sm-6">
                    <label class="col-sm-4" for="">Rate:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" v-model="rate" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4" for="">Expected Start Date:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" v-model="expectedStartDate" />
                    </div>
                </div>
                <div class="form-group"></div>

                <div class="col-sm-6">
                    <label class="col-sm-4" for="">Hire Candidate:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" v-model="hireCandidate" />
                    </div>
                </div>
                <div class="col-sm-6">

                    <label class="col-sm-4" for="">Proposed Candidate:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" v-model="proposedCandidate" />
                    </div>
                </div>
                <div class="form-group"></div>

                <div class="col-sm-6">
                    <label class="col-sm-4" for="">Rejected Candidate:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" v-model="rejectedCandidate" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4" for="">Position Note:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" v-model="positionNote" />
                    </div>
                </div>
                <div class="form-group"></div>

                <div class="col-sm-6">
                    <label class="col-sm-4" for="">Number of Positions:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" v-model="numberOfPositions" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4">Position Status Id: </label>
                    <div class="col-sm-8">
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                </div>
                <div class="form-group"></div>
                <div class="col-sm-6">
                    <label class="col-sm-4">Opportunity Id: </label>
                    <div class="col-sm-8">
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                </div>


                <div class="col-sm-6">
                    <label class="col-sm-4">Unit Practice Id: </label>
                    <div class="col-sm-8">
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                </div>
                <div class="form-group"></div>
                <div class="col-sm-6">
                    <label class="col-sm-4">Min Consultant Grade Id: </label>
                    <div class="col-sm-8">
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4">Max Consultant Grade Id: </label>
                    <div class="col-sm-8">
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-offset-3 col-sm-6">
                    <button v-on:click="onSubmit" class="btn btn-primary">Submit</button>
                    <button v-on:click="addState = false" class="btn btn-danger">Cancel</button>
                </div>

                <div class="form-group"></div>
            </div>
        </template>


        <template>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of Positions</th>
                    <th>Duration</th>
                    <th>Accepted Candidate</th>
                    <th>Skillset</th>
                    <th>Rate</th>                
                    <th>Details</th>
                </tr>
                <tr v-for="position in positions">
                    <td>{{ position.PositionName }}</td>
                    <td>{{ position.NumberOfPositions }}</td>
                    <td>{{ position.Duration }} months</td>
                    <td>{{ position.AcceptedCandidate }}</td>
                    <td>{{ position.Skillset }}</td>
                    <td>{{ position.Rate }}</td>
                    
                    <td><button class="btn btn-info" v-on:click="displayDetail(position)">More</button></td>
                </tr>
            </table>
        </template>
    </div>
    <!-- DISPLAY DETAILED INFORMATION ABOUT POSITION -->
    <div v-else>
        <button class="btn btn-warning" v-on:click="positionDetail = false; moreState = false;">Back</button>
        <h3>{{this.positionDetail.PositionName}}</h3>
        <hr />
        <h5>Number of Positions: {{this.positionDetail.NumberOfPositions}}</h5>
        <h5>Duration: {{this.positionDetail.Duration}} Months</h5>
        <h5>Expected Start: {{this.positionDetail.ExpectedStartDate}}</h5>
        <h5>Position Status ID: {{this.positionDetail.PositionStatusId}}</h5>
        <h5>Unit Practice ID: {{this.positionDetail.UnitPracticeId}}</h5>
        <h5>Opportunity ID: {{this.positionDetail.OpportunityId}}</h5>
        <br />
        <table>
            <tr>
                <th>Accepted Candidate</th>
                <th>Proposed Candidate</th>
                <th>Hire Candidate</th>
                <th>Rejected Candidate</th>
            </tr>
            <tr>
                <td>{{this.positionDetail.AcceptedCandidate}}</td>
                <td>{{this.positionDetail.ProposedCandidate}}</td>
                <td>{{this.positionDetail.HireCandidate}}</td>
                <td>{{this.positionDetail.RejectedCandidate}}</td>
            </tr>
            <tr>
                <th>Number of Positions</th>
                <th>Max Consultant Grade</th>
                <th>Min Consultant Grade</th>
                <th>Rate</th>
            </tr>
            <tr>
                <td>{{this.positionDetail.NumberOfPositions}}</td>
                <td>{{this.positionDetail.MaxConsultantGradeId}}</td>
                <td>{{this.positionDetail.MinConsultantGradeId}}</td>
                <td>{{this.positionDetail.Rate}}</td>
            </tr>
        </table>
        <h4><strong>Skillset:</strong></h4>
        <h5>{{this.positionDetail.Skillset}}</h5>
        <h4>Notes:</h4>
        <p>{{this.positionDetail.PositionNote}}</p>
    </div>
</div>
    
<script type="text/javascript" src="../../Scripts/App/Position/position.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
