


<div id="appContainer">
    
    <div id="app" class='main'>
        <template>
            <div class="flash-message">
                <transition name="fade">
                    <p v-if="message">{{ message }}</p>
                    <div class="form-group"></div>
                </transition>
            </div>
        </template>



        <div>

            <div class="addButton">
                <h4 id="viewHeader">Practice Manager View</h4>
                <div class="col-sm-3 filterButtons">

                    <button v-on:click="add" class="btn btn-primary btn-sm">
                        <i class="fa fa-pencil"></i> Add
                    </button>
                    <!-- ////////////////// FILTERS AREA /////////////////////////////////-->
                    <template>
                        <button v-on:click="displayFilters" class="btn btn-sm" v-bind:class="{'btn-secondary': !filters.displayFilters, 'btn-warning': filters.displayFilters}">
                            {{filters.displayFilters ? 'Hide Filters' : 'Show Filters'}}
                        </button>
                    </template>

                </div>
                <template>
                    <div v-if="filters.displayFilters" class="filtersContainer">

                        <div class="form-group"></div>
                        <div class="row">

                            <div class="col-sm-9">
                                <template>
                                    <h4 class="filterHeader">Position Status:</h4>
                                    <ul class="filterContainer">
                                        <li class="filterOption" v-for="positionStatus in positionStatuses">
                                            <input type="checkbox" :value="positionStatus.PositionStatusId" v-model="filters.positionStatusFilter" id="positionStatus.PositionStatusId"> {{positionStatus.PositionStatusName}}
                                        </li>
                                    </ul>
                                </template>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <template>
                                    <h4 class="filterHeader">Priority:</h4>
                                    <ul class="filterContainer">
                                        <li class="filterOption" v-for="priority in filters.priorities">
                                            <input type="checkbox" :value="priority" v-model="filters.priorityFilter" id="priority"> {{priority}}
                                        </li>
                                    </ul>
                                </template>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <template>
                                    <h4 class="filterHeader">Unit:</h4>
                                    <ul class="filterContainer">
                                        <li class="filterOption" v-for="unit in units">
                                            <input type="checkbox" :value="unit.UnitId" v-model="filters.unitFilter" id="unit.UnitId"> {{unit.UnitName}}
                                        </li>
                                        <li class="filterOption">
                                            <button class="filterButton btn btn-sm" v-on:click=" applyPriorityFilter">
                                                Apply
                                            </button>
                                        </li>
                                    </ul>
                                </template>
                            </div>
                        </div>

                    </div>
                </template>


            </div>
            <template class="col-sm-3">
                <div class="col-sm-3 filterHouse">
                    <p class="filterDisplay">Filters: <span class="filter">{{filters.status}}</span></p>
                    <p>Sorting by: <span class="filter">{{displaySort(sorting.sorter)}}</span></p>
                </div>
            </template>
            <div v-if="addState === true">
                <div>
                    <template>
                        <div class="form-horizontal homeForm">
                            <!-- ROW ONE BEGIN-->
                            <h3 id="homeFormHeader">{{ state.updateState ? 'Edit Opportunity' : 'Add Opportunity' }}</h3>
                            <span class="error">{{ errors.clientDropdown }}</span>
                            <template v-if="state.clientQuickAdd">
                                <div id="clientQuickAdd">
                                    <div class="form-group"></div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-4" for="">Client Name: </label>
                                        <div class="col-sm-8">
                                            <input class="form-control" type="text" v-model="formData.clientName" maxlength="200" />
                                            <span class="error">{{ errors.clientName }}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-4" for="">Client Subbusiness: </label>
                                        <div class="col-sm-8">
                                            <input class="form-control" type="text" v-model="formData.clientSubbusiness" maxlength="200" />
                                            <span class="error">{{ errors.clientSubbusiness }}</span>
                                        </div>


                                    </div>
                                    <div class="form-group"></div>
                                    <div class="col-sm-12">
                                        <button :disabled="quickClientErr > 0" class="btn btn-sm btn-info" v-on:click="onClientSubmit">Submit</button>
                                        <button class="client_quick_add btn btn-sm btn-danger" v-on:click="onClientCancel">Cancel</button>

                                    </div>
                                </div>
                            </template>
                       
                          

                            <div>

                                <div class="form-group"></div>
                                <div class="col-sm-6">
                                    <div v-if="!state.opportunityQuickEdit">
                                        <div v-if="!state.updateState">
                                            <label class="col-sm-4">Client: </label>
                                            <div class="col-sm-8">
                                                <select class="form-control" v-model="formData.clientId">
                                                    <option v-for="client in clients" :value="client.ClientId" class="form-control">
                                                        {{ client.ClientName }}: {{ client.ClientSubbusiness }}
                                                    </option>
                                                </select>
                                            </div>
                                            <button class="client_quick_add btn btn-sm btn-success" v-on:click="onClientQuickAdd">Quick Add</button>
                                        </div>
                                        <div v-if="state.opportunityQuickEdit">
                                            <label class="col-sm-4">Client: </label>
                                            <div class="col-sm-8">
                                                <select class="form-control" v-model="formData.clientId">
                                                    <option v-for="client in clients" :value="client.ClientId" class="form-control">
                                                        {{ client.ClientName }}: {{ client.ClientSubbusiness }}
                                                    </option>
                                                </select>
                                            </div>
                                            <button class="client_quick_add btn btn-sm btn-success" v-on:click="onClientQuickAdd">Quick Add</button>
                                        </div>
                                    </div>
                                   

                                        <div v-if="state.updateState">
                                            <div class="col-sm-6">
                                                <p>Client Name: {{editObjs.clientEdit.ClientName}}</p>
                                                <p>Client Subbusiness: {{editObjs.clientEdit.ClientSubbusiness}}</p>
                                            </div>

                                        </div>
                                    
                                </div>

                                <div class="col-sm-6">

                                    <label class="col-sm-4">Opportunity: </label>
                                    <div class="col-sm-8">
                                        <select class="form-control" v-model="formData.opportunityId">
                                            <option v-for="opportunity in opportunities" :value="opportunity.opportunityId">{{ opportunity.opportunityName }}</option>
                                        </select>

                                    </div>
                                    <button class="client_quick_add btn btn-sm btn-success" v-on:click="onOpportunityQuickAdd">Quick Add</button>
                                    <div v-if="formData.opportunityId" class="quickOppEdit">
                                        <button class=" btn btn-sm btn-info" v-on:click="onOpportunityQuickEdit">Quick Edit</button>
                                        <button class=" btn btn-sm btn-success" v-on:click="onOpportunityDetails">Details</button>
                                    </div>
                                    <div class="form-group"></div>

                                </div>
                                <br />
                                <div class="form-group"></div>

                            </div>

                            <!-- ///////////////////// END CLIENT SECTION ///////////////////////////-->


                            <span id="oppError" class="error">{{ errors.opportunityDropdown }}</span>


                            <template v-if="state.opportunityQuickAdd">
                                <div id="oppQuickAdd">
                                    <h4>
                                        Opportunity
                                    </h4>
                                    <div class="col-sm-6">
                                        <label class="col-sm-4">Client: </label>
                                        <div class="col-sm-8">
                                            <select class="form-control" v-model="formData.clientId">
                                                <option v-for="client in clients" :value="client.ClientId" class="form-control">
                                                    {{ client.ClientName }}: {{ client.ClientSubbusiness }}
                                                </option>
                                            </select>
                                        </div>
                                        <button class="client_quick_add btn btn-sm btn-success" v-on:click="onClientQuickAdd">Quick Add</button>
                                    </div>
                                    <div class="col-sm-6"></div>
                                    <div class="form-group"></div>
                                    <hr />
                                    <div class="col-sm-6">
                                        <label class="col-sm-4" for="">Opportunity Name: </label>
                                        <div class="col-sm-8">
                                            <input class="form-control" type="text" v-model="formData.opportunityName" maxlength="200" />
                                            <span class="error">{{ errors.opportunityName }}</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label class="col-sm-4">Account Executive: </label>
                                        <div class="col-sm-8">
                                            <select class="form-control" v-model="formData.accountExecutiveUserId">
                                                <option v-for="ae in aes" :value="ae.UserId">{{ ae.FullName }}</option>
                                            </select>
                                            <span class="error">{{ errors.accountExecutiveUserId }}</span>
                                        </div>
                                    </div>

                                    <div class="form-group"></div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-4">Region: </label>
                                        <div class="col-sm-8">
                                            <select class="form-control" v-model="formData.regionId">
                                                <option v-for="region in regions" :value="region.RegionId">{{ region.RegionName }}</option>
                                            </select>
                                            <span class="error">{{ errors.regionId }}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-4">Unit: </label>
                                        <div class="col-sm-8">
                                            <select class="form-control" v-model="formData.unitId">
                                                <option v-for="unit in units" :value="unit.UnitId">{{ unit.UnitName }}</option>
                                            </select>
                                            <span class="error">{{ errors.unitId }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group"></div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-4" for="">Client Contact: </label>
                                        <div class="col-sm-8">
                                            <input class="form-control" type="text" v-model="formData.clientContact" maxlength="200" />
                                            <span class="error">{{ errors.clientContact }}</span>
                                        </div>
                                    </div>
                                    <!--<div class="col-sm-6">
                                    <label class="col-sm-4" for="">Opportunity Note:</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" v-model="formData.opportunityNotes"></textarea>
                                        <template v-if="errors.opportunityNote">
                                            <span class="error">{{ errors.opportunityNote }}</span>
                                        </template>
                                    </div>

                                </div>-->

                                    <div class="col-sm-12">
                                        <button :disabled="quickOppErr > 0" class="btn btn-sm btn-info" v-on:click="onOpportunitySubmit">Submit</button>
                                        <button class="client_quick_add btn btn-sm btn-danger" v-on:click="onOpportunityCancel">Cancel</button>
                                        <hr />
                                    </div>

                                </div>
                            </template>

                            <template v-if="state.opportunityQuickEdit">
                                <div id="oppQuickAdd">
                                    <h4>
                                        Opportunity
                                    </h4>
                                    <hr />
                                    <div class="col-sm-6">
                                        <label class="col-sm-4" for="">Opportunity Name: </label>
                                        <div class="col-sm-8">
                                            <input class="form-control" type="text" v-model="editData.opportunityName" maxlength="200" />
                                            <span class="error">{{ errors.opportunityName }}</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label class="col-sm-4" for="">Client Contact: </label>
                                        <div class="col-sm-8">
                                            <input class="form-control" type="text" v-model="editData.clientContact" maxlength="200" />
                                            <span class="error">{{ errors.clientContact }}</span>
                                        </div>
                                    </div>

                                    <div class="form-group"></div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-4">Region: </label>
                                        <div class="col-sm-8">
                                            <p>{{getRegionName(editData.regionId)}}</p>
                                            <span class="error">{{ errors.regionId }}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-4">Unit: </label>
                                        <div class="col-sm-8">
                                            <p>{{getUnitName(editData.unitId)}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group"></div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-4">Account Executive: </label>
                                        <div class="col-sm-8">
                                            <p>{{getAEName(editData.accountExecutiveUserId)}}</p>
                                        </div>
                                    </div>

                                    <!--<div class="col-sm-6">
                                    <label class="col-sm-4" for="">Opportunity Note:</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" v-model="formData.opportunityNotes"></textarea>
                                        <template v-if="errors.opportunityNote">
                                            <span class="error">{{ errors.opportunityNote }}</span>
                                        </template>
                                    </div>

                                </div>-->

                                    <div class="col-sm-12">
                                        <button :disabled="quickOppErr > 0" class="btn btn-sm btn-info" v-on:click="onOpportunityQuickEditSubmit">Submit</button>
                                        <button class="client_quick_add btn btn-sm btn-danger" v-on:click="onOpportunityCancel">Cancel</button>
                                        <hr />
                                    </div>

                                </div>
                            </template>

                            <!-- ////////////////////////////////BEGIN POSITION SECTION ///////////////////////////////-->


                            <div class="mainForm">
                                <div class="form-group"></div>
                                <div class="col-sm-6 formItem">
                                    <label class="col-sm-4" for="">Position Name: </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" v-model="formData.positionName" maxlength="200" />
                                        <template v-if="errors.positionName">
                                            <span class="error">{{ errors.positionName }}</span>
                                        </template>
                                    </div>
                                </div>
                                <div class="col-sm-6 formItem">

                                    <label class="col-sm-4">Position Status: </label>
                                    <div class="col-sm-8">
                                        <select class="form-control" v-model="formData.positionStatusId">
                                            <option v-for="positionStatus in positionStatuses" :value="positionStatus.PositionStatusId">{{ positionStatus.PositionStatusName }}</option>
                                        </select>
                                        <template v-if="errors.positionStatusId">
                                            <span class="error">{{ errors.positionStatusId }}</span>
                                        </template>

                                    </div>
                                </div>
                                <div class="col-sm-6 formItem">
                                    <label class="col-sm-4" for="">Number of Positions:</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="number" name="quantity" min="1" max="1000" v-model="formData.numberOfPositions" />
                                        <template v-if="errors.numberOfPositions">
                                            <span class="error">{{ errors.numberOfPositions }}</span>
                                        </template>
                                    </div>
                                </div>
                                <div class="col-sm-6 formItem">
                                    <label class="col-sm-4" for="">Rate:</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="number" name="quantity" min="30" max="1000" v-model="formData.rate" />
                                        <template v-if="errors.rate">
                                            <span class="error">{{ errors.rate }}</span>
                                        </template>
                                    </div>
                                </div>

                                <div class="formTop form-group"></div>
                                <div class="col-sm-6 formItem">
                                    <label class="col-sm-4" for="">Proposed Candidate: </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" v-model="formData.proposedCandidate" maxlength="200" />
                                        <span class="error">{{ errors.proposedCandidate }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 formItem">
                                    <label class="col-sm-4" for="">Accepted Candidate: </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" v-model="formData.acceptedCandidate" maxlength="200" />
                                        <span class="error">{{ errors.acceptedCandidate }}</span>
                                    </div>
                                </div>
                                <!-- Row -->

                                <div class="col-sm-6 formItem">
                                    <label class="col-sm-4" for="">Hired Candidate: </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" v-model="formData.hiredCandidate" maxlength="200" />
                                        <span class="error">{{ errors.hiredCandidate }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 formItem">
                                    <label class="col-sm-4" for="">Rejected Candidate: </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" v-model="formData.rejectedCandidate" maxlength="200" />
                                        <span class="error">{{ errors.rejectedCandidate }}</span>
                                    </div>
                                </div>

                                <div class="form-group"></div>
                                <div class="col-sm-4">
                                    <button v-on:click="onSubmit"
                                            :disabled="errorCount > 0"
                                            class="btn btn-primary">
                                        <i class="fa fa-pencil"></i> Submit
                                    </button>
                                    <button v-on:click="cancel" class="btn btn-danger"><i class="fa fa-times"></i> Cancel</button>
                                </div>
                                <div class="col-sm-8">
                                    <label class="col-sm-4" for="">Position Note:</label>
                                    <div class="col-sm-8">
                                        <textarea v-model="formData.positionNote" class="form-control" maxlength="200"></textarea>
                                        <template v-if="errors.positionNote">
                                            <span class="error">{{ errors.positionNote }}</span>
                                        </template>
                                    </div>
                                </div>
                                <div class="form-group"></div>

                            </div>
                        </div>


                    </template>
                    <div class="form-group"></div>
                    <br />
                    <br />
                    <br />
                </div>
            </div>

        </div>

        <div id="detailContainer" class="container">
            <template v-if="displayState === true" class="addButton">
                <div class="displayBox">
                    <button class="btn btn-small btn-warning" v-on:click="displayState = false"><i class="fa fa-window-close"></i></button>

                    <div class="col-sm-3">
                        <span class="detailLabel">Opportunity Name:</span><h1 class="detailLabel">{{displayView.OpportunityName}}</h1>
                        <span ckass="detailLabel">Position Name:</span><p class="detailLabel">{{displayView.PositionName}}</p>
                        <p><span class="detailLabel">Unit: </span>{{displayView.UnitName}} - <span class="detailLabel">Client:</span>{{displayView.ClientName}}</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Number of Positions : {{displayView.NumberOfPositions}}</p>
                        <p>Status : {{displayStatusName(displayView.PositionStatusId)}}</p>
                        <p> Client Contact : {{displayView.ClientContact}}</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Priority : {{displayView.Priority}}</p>
                        <p>Sold : {{displayView.SoldStatusName}}</p>
                        <p>AE : {{displayUser(displayView.AE)}}</p>
                    </div>
                    <div class="col-sm-3">
                        <p>ACT : {{displayUser(displayView.ACT)}}</p>
                        <p><b>Skillset</b> : {{displayView.Skillset}}</p>
                        <p>Expected Start Date : {{displayDate(displayView.ExpectedStartDate)}}</p>
                        <p>Last modified on <i>{{displayDate(displayView.LastModified)}}</i></p>
                    </div>
                    <div class="col-sm-12">
                        <table>
                            <tr>
                                <th>Accepted Candidate</th>
                                <th>Proposed Candidate</th>
                                <th>Hire Candidate</th>
                                <th>Rejected Candidate</th>
                            </tr>
                            <tr>
                                <td>{{displayView.AcceptedCandidate}}</td>
                                <td>{{displayView.ProposedCandidate}}</td>
                                <td>{{displayView.HireCandidate}}</td>
                                <td>{{displayView.RejectedCandidate}}</td>
                            </tr>
                            <tr>
                                <th>Min Consultant Grade</th>
                                <th>Max Consultant Grade</th>
                                <th>Duration (Months)</th>
                                <th>Rate</th>
                            </tr>
                            <tr>
                                <td>{{displayGrade(displayView.MinConsultantGradeId)}}</td>
                                <td>{{displayGrade(displayView.MaxConsultantGradeId)}}</td>
                                <td>{{displayView.Duration}}</td>
                                <td>{{displayView.Rate}}</td>
                            </tr>
                        </table>
                    </div>


                </div>

                <div class="form-group"></div>

            </template>
        </div>

        <div v-if="state.displayOppState == true">
        <template>
        <div class="displayBox oppDisplay">
            <button class="btn btn-small btn-warning" v-on:click="state.displayOppState = false"><i class="fa fa-window-close"></i></button>

            <div class="col-sm-12">
                <span class="detailLabel">Opportunity Name:</span><p>{{oppDetails.opportunityName}}</p>
                <span class="detailLabel">AE:</span><p>{{displayUser(oppDetails.accountExecutiveUserId)}}</p>
                <span class="detailLabel">Unit: </span><p>{{getUnitName(oppDetails.unitId)}}</p>
               <span class="detailLabel">Client Contact: </span><p>{{oppDetails.clientContact}}</p>
                <span class="detailLabel">Region Id: </span><p>{{getRegionName(oppDetails.regionId)}}</p>
                <span class="detailLabel">Opportunity Note: </span><p>{{oppDetails.opportunityNote}}</p>
            </div>
            


        </div>
        </template>
        </div>

        <div>
            <template>


                <div id="mainContainer " class="scrollBar">
                    <table class='clientView'>
                        <tr>
                            <th v-on:click="sortTable('OpportunityName')" v-bind:class="highlightCol('OpportunityName') ? 'sortrow' : ''">
                                <i v-on:click="sortTable" class="fa"
                                   v-bind:class="{'fa-caret-down' : !sorting.oppDir, 'fa-caret-up' : sorting.oppDir, 'fa-sort' : sorting.oppSort}">
                                </i> Opportunity <br />Name
                            </th>
                            <th v-on:click="sortTable('UnitName')" v-bind:class="highlightCol('UnitName') ? 'sortrow' : ''">
                                <i v-on:click="sortTable" class="fa"
                                   v-bind:class="{'fa-caret-down' : !sorting.unitDir, 'fa-caret-up' : sorting.unitDir, 'fa-sort' : sorting.unitSort}">
                                </i> Unit
                            </th>
                            <th v-on:click="sortTable('NumberOfPositions')" v-bind:class="highlightCol('NumberOfPositions') ? 'sortrow' : ''">
                                <i v-on:click="sortTable" class="fa"
                                   v-bind:class="{'fa-caret-down' : !sorting.numPosDir, 'fa-caret-up' : sorting.numPosDir, 'fa-sort' : sorting.numPosSort}">
                                </i> Number <br />Of Positions
                            </th>
                            <th v-on:click="sortTable('PositionName')" v-bind:class="highlightCol('PositionName') ? 'sortrow' : ''">
                                <i v-on:click="sortTable" class="fa"
                                   v-bind:class="{'fa-caret-down' : !sorting.posNameDir, 'fa-caret-up' : sorting.posNameDir, 'fa-sort' : sorting.posNameSort}">
                                </i> Position <br />Name
                            </th>
                            <th v-on:click="sortTable('Priority')" v-bind:class="highlightCol('Priority') ? 'sortrow' : ''">
                                <i v-on:click="sortTable" class="fa"
                                   v-bind:class="{'fa-caret-down' : !sorting.priorityDir, 'fa-caret-up' : sorting.priorityDir, 'fa-sort' : sorting.prioritySort}">
                                </i> Priority
                            </th>
                            <th v-on:click="sortTable('SoldStatusName')" v-bind:class="highlightCol('SoldStatusName') ? 'sortrow' : ''">
                                <i v-on:click="sortTable" class="fa"
                                   v-bind:class="{'fa-caret-down' : !sorting.soldDir, 'fa-caret-up' : sorting.soldDir, 'fa-sort' : sorting.soldSort}">
                                </i> Sold
                            </th>
                            <th v-on:click="sortTable('PositionStatusId')" v-bind:class="highlightCol('PositionStatusId') ? 'sortrow' : ''">
                                <i v-on:click="sortTable" class="fa"
                                   v-bind:class="{'fa-caret-down' : !sorting.statusDir, 'fa-caret-up' : sorting.statusDir, 'fa-sort' : sorting.statusSort}">
                                </i> Status
                            </th>
                            <th v-on:click="sortTable('ClientName')" v-bind:class="highlightCol('ClientName') ? 'sortrow' : ''">
                                <i v-on:click="sortTable" class="fa"
                                   v-bind:class="{'fa-caret-down' : !sorting.clientNameDir, 'fa-caret-up' : sorting.clientNameDir, 'fa-sort' : sorting.clientNameSort}">
                                </i> Client <br />Name
                            </th>
                            <th v-on:click="sortTable('AE')" v-bind:class="highlightCol('AE') ? 'sortrow' : ''">
                                <i v-on:click="sortTable" class="fa"
                                   v-bind:class="{'fa-caret-down' : !sorting.AEDir, 'fa-caret-up' : sorting.AEDir, 'fa-sort' : sorting.AESort}">
                                </i> AE
                            </th>
                            <th v-on:click="sortTable('ACT')" v-bind:class="highlightCol('ACT') ? 'sortrow' : ''">
                                <i v-on:click="sortTable" class="fa"
                                   v-bind:class="{'fa-caret-down' : !sorting.ACTDir, 'fa-caret-up' : sorting.ACTDir, 'fa-sort' : sorting.ACTSort}">
                                </i> ACT Lead
                            </th>
                            <th>Details</th>
                            <th>Edit</th>
                        </tr>
                        <!-- VUE WILL GENERATE EACH ROW BASED ON DATA RECIEVED -->
                        <tr v-for="post in posts">
                            <td v-bind:class="highlightCol('OpportunityName') ? 'sortdata' : ''"> {{ post.OpportunityName }}</td>
                            <td v-bind:class="highlightCol('UnitName') ? 'sortdata' : ''"> {{ post.UnitName }} </td>
                            <td v-bind:class="highlightCol('NumberOfPositions') ? 'sortdata' : ''"> {{ post.NumberOfPositions }} </td>
                            <td v-bind:class="highlightCol('PositionName') ? 'sortdata' : ''"> {{ post.PositionName }}</td>
                            <td v-bind:class="highlightCol('Priority') ? 'sortdata' : ''"> {{ post.Priority }}</td>
                            <td v-bind:class="highlightCol('SoldStatusName') ? 'sortdata' : ''"> {{ post.SoldStatusName }}</td>
                            <td v-bind:class="highlightCol('PositionStatusId') ? 'sortdata' : ''"> {{ displayStatusName(post.PositionStatusId) }}</td>
                            <td v-bind:class="highlightCol('ClientName') ? 'sortdata' : ''"> {{ post.ClientName }}</td>
                            <td v-bind:class="highlightCol('AE') ? 'sortdata' : ''"> {{ displayUser(post.AE) }}</td>
                            <td v-bind:class="highlightCol('ACT') ? 'sortdata' : ''"> {{ displayUser(post.ACT) }}</td>
                            <td><button class="btn btn-warning" v-on:click="displayDetails(post)"><i class="fa fa-plus"></i></button></td>
                            <td><button class="btn btn-success" v-on:click="onEdit(post)"><i class="fa fa-edit"></i></button></td>
                        </tr>
                    </table>

                </div>

            </template>
        </div>


    </div>
</div>
<script type="text/javascript" src="../../Scripts/App/Home/sorting.js"></script>
<script type="text/javascript" src="../../Scripts/App/Home/validate.js"></script>
<script type="text/javascript" src="../../Scripts/App/Home/requests.js"></script>
<script type="text/javascript" src="../../Scripts/App/Home/app.js"></script>

