
    <div id="appContainer">
        <div id="app" class='main'>
            <h1>Practice Manager View</h1>
            <div v-if="addState === false">
                <button v-on:click="addState = true" class="btn btn-primary">
                    Add Opportunity
                </button>
                <div class="form-group"></div>
            </div>
            <template v-else>
                <div class="form-horizontal">
                    <div class="form-group"></div>

                    <label class="col-sm-3">Opportunity Name: </label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="opportunityName" />
                    </div>
                    <div class="form-group"></div>

                    <label class="col-sm-3">Unit: </label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="unit" />
                    </div>
                    <div class="form-group"></div>

                    <label class="col-sm-3"># of Positions: </label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="numberOfPositions" />
                    </div>
                    <div class="form-group"></div>

                    <label class="col-sm-3">Position Name: </label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="positionName" />
                    </div>
                    <div class="form-group"></div>

                    <label class="col-sm-3">Priority: </label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="priority" />
                    </div>
                    <div class="form-group"></div>

                    <label class="col-sm-3">Sold:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="sold" />
                    </div>
                    <div class="form-group"></div>


                    <label class="col-sm-3">Status:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="status" />
                    </div>
                    <div class="form-group"></div>

                    <label class="col-sm-3">Client:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="client" />
                    </div>
                    <div class="form-group"></div>

                    <label class="col-sm-3">AE:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="ae" />
                    </div>
                    <div class="form-group"></div>

                    <label class="col-sm-3">ACT Lead:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="actLead" />
                    </div>
                    <div class="form-group"></div>

                    <label class="col-sm-3">Skillset:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="skillset" />
                    </div>
                    <div class="form-group"></div>

                    <label class="col-sm-3">Min consultant Grade:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="minConsultantGrade" />
                    </div>
                    <div class="form-group"></div>

                    <label class="col-sm-3">Max Consultant Grade:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="maxConsultantGrade" />
                    </div>
                    <div class="form-group"></div>

                    <label class="col-sm-3">Rate:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="rate" />
                    </div>
                    <div class="form-group"></div>

                    <label class="col-sm-3">Date:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="date" />
                    </div>
                    <div class="form-group"></div>

                    <label class="col-sm-3">Duration:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="duration" />
                    </div>
                    <div class="form-group"></div>

                    <label class="col-sm-3">Hire Candidate:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="hireCandidate" />
                    </div>
                    <div class="form-group"></div>

                    <label class="col-sm-3">Proposed:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="proposed" />
                    </div>
                    <div class="form-group"></div>

                    <label class="col-sm-3">Rejected:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="rejected" />
                    </div>
                    <div class="form-group"></div>

                    <label class="col-sm-3">Accepted:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="accepted" />
                    </div>
                    <div class="form-group"></div>

                    <label class="col-sm-3">Notes:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="notes" />
                    </div>
                    <div class="form-group"></div>

                    <div class="col-sm-offset-3 col-sm-6">
                        <button class="btn btn-primary" v-on:click="onSubmit">Add</button>
                        <button class="btn btn-danger" v-on:click="addState = false">Cancel</button>
                    </div>
                    <div class="form-group"></div>
                </div>

            </template>


            <template>
                <table class='clientView'>
                    <tr>
                        <th>OPPORTUNITY NAME</th>
                        <th>UNIT</th>
                        <th># OF POSITIONS</th>
                        <th>POSITION NAME</th>
                        <th>PRIORITY</th>
                        <th>SOLD</th>
                        <th>STATUS</th>
                        <th>CLIENT</th>
                        <th>AE</th>
                        <th>ACT LEAD</th>
                        <th>Details</th>
                    </tr>



                    <!-- VUE WILL GENERATE EACH ROW BASED ON DATA RECIEVED -->
                    <tr v-for="post in posts">
                        <td> {{ post.OpportunityName }}</td>
                        <td> {{ post.UnitName }} </td>
                        <td> {{ post.NumberOfPositions }} </td>
                        <td> {{ post.PositionName }}</td>
                        <td> {{ post.Priority }}</td>
                        <td> {{ post.SoldStatusName }}</td>
                        <td> {{ post.OpportunityStatusName }}</td>
                        <td> {{ post.ClientSubbusiness }}</td>
                        <td> {{ post.AEName }}</td>
                        <td> {{ post.ACTName }}</td>
                        <td> + </td>
                    </tr>
                </table>
            </template>


        </div>
    </div>
    <script type="text/javascript" src="../../Scripts/App/Home/app.js"></script>

