


<div id="appContainer">
    <div id="app" class='main'>
        <div v-if="displayState === false">
            <div v-if="addState === false" class="addButton">
                <button v-on:click="add" class="btn btn-primary">
                    <i class="fa fa-pencil"></i> Add
                </button>
                <div class="form-group"></div>
            </div>
            <template v-else>
                <div>
                    <div class="form-horizontal">
                        <!-- ROW ONE BEGIN-->
                        <h3 class="formHeader">{{state.updateState ? 'Edit Client' : 'Add Client'}}</h3>
                        <template>
                            <div class="form-group"></div>
                            <div class="col-sm-6">
                                <label class="col-sm-4" for="">Client Name: </label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" v-model="formData.clientName" />
                                    <span class="error">{{ errors.clientName }}</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-sm-4" for="">Client Subbusiness: </label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" v-model="formData.clientSubbusiness" />
                                    <span class="error">{{ errors.clientSubbusiness }}</span>
                                </div>
                            </div>
                            <!--<button class="client_quick_add btn btn-sm btn-danger" v-on:click="onClientCancel">Cancel</button>
                            <button class="btn btn-sm btn-info" v-on:click="onClientSubmit">Submit</button>-->
                        </template>
                        <!--<template v-else>

                          <div class="form-group"></div>
                          <div class="col-sm-6">
                              <label class="col-sm-4">Client Name: </label>
                              <div class="col-sm-8">
                                  <select class="form-control" v-model="formData.clientName">
                                      <option v-for="client in clients" :value="client.ClientName">{{ client.ClientName }}</option>
                                  </select>
                                  <template v-if="errors.clientName">
                                      <span class="error">{{ errors.clientName }}</span>
                                  </template>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <label class="col-sm-4">Client Subbusiness: </label>
                              <div class="col-sm-8">
                                  <select class="form-control" v-model="formData.clientSubbusiness">
                                      <option v-for="client in clients" :value="client.ClientSubbusiness">{{ client.ClientSubbusiness }}</option>
                                  </select>

                                  <template v-if="errors.clientSubbusiness">
                                      <span class="error">{{ errors.clientSubbusiness }}</span>
                                  </template>
                              </div>
                          </div>
                          <br />
                          <!--<button class="client_quick_add btn btn-sm btn-success" v-on:click="onClientQuickAdd">Quick Add</button>-->
                        <!--</template>-->
                        <!-- ///////////////////// END CLIENT SECTION ///////////////////////////-->
                        <hr />
                        <h3>{{ state.updateState ? 'Edit Opportunity' : 'Add Opportunity' }}</h3>
                        <div class="form-group"></div>
                        <div class="col-sm-6">
                            <label class="col-sm-4" for="">Opportunity Name: </label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" v-model="formData.opportunityName" />
                                <span class="error">{{ errors.opportunityName }}</span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label class="col-sm-4">Account Executive: </label>
                            <div class="col-sm-8">
                                <select class="form-control" v-model="formData.accountExecutiveUserId">
                                    <option v-for="ae in aes" :value="ae.UserId">{{ ae.FullName }}</option>
                                </select>
                                <span class="error">{{ errors.accountExecutiveUserId }}</span>
                            </div>
                        </div>

                        <div class="form-group"></div>
                        <div class="col-sm-6">
                            <label class="col-sm-4">Region: </label>
                            <div class="col-sm-8">
                                <select class="form-control" v-model="formData.regionId">
                                    <option v-for="region in regions" :value="region.RegionId">{{ region.RegionName }}</option>
                                </select>
                                <span class="error">{{ errors.regionId }}</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-4">Unit: </label>
                            <div class="col-sm-8">
                                <select class="form-control" v-model="formData.unitId">
                                    <option v-for="unit in units" :value="unit.UnitId">{{ unit.UnitName }}</option>
                                </select>
                                <span class="error">{{ errors.unitId }}</span>
                            </div>
                        </div>
                        <div class="form-group"></div>
                        <div class="col-sm-6">
                            <label class="col-sm-4" for="">Client Contact: </label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" v-model="formData.clientContact" />
                                <span class="error">{{ errors.clientContact }}</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-4" for="">Opportunity Note:</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" v-model="formData.opportunityNotes"></textarea>
                                <template v-if="errors.positionNote">
                                    <span class="error">{{ errors.opportunityNote }}</span>
                                </template>
                            </div>
                        </div>
                        <h3>{{state.updateState ? 'Edit Position' : 'Add Position' }}</h3>
                        <div class="form-group"></div>
                        <div class="col-sm-6">
                            <label class="col-sm-4" for="">Position Name: </label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" v-model="formData.positionName" />
                                <span class="error">{{ errors.opportunityName }}</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-4" for="">Number of Positions:</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="number" name="quantity" min="1" max="1000" v-model="formData.numberOfPositions" />
                                <template v-if="errors.numberOfPositions">
                                    <span class="error">{{ errors.numberOfPositions }}</span>
                                </template>
                            </div>
                        </div>
                        <div class="form-group"></div>
                        <div class="col-sm-6">
                            <label class="col-sm-4" for="">Proposed Candidate: </label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" v-model="formData.proposedCandidate" />
                                <span class="error">{{ errors.proposedCandidate }}</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-4" for="">Accepted Candidate: </label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" v-model="formData.acceptedCandidate" />
                                <span class="error">{{ errors.acceptedCandidate }}</span>
                            </div>
                        </div>
                        <!-- Row -->
                        <div class="form-group"></div>
                        <div class="col-sm-6">
                            <label class="col-sm-4" for="">Hired Candidate: </label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" v-model="formData.hiredCandidate" />
                                <span class="error">{{ errors.hiredCandidate }}</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-4" for="">Rejected Candidate: </label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" v-model="formData.rejectedCandidate" />
                                <span class="error">{{ errors.rejectedCandidate }}</span>
                            </div>
                        </div>

                        <div class="form-group"></div>
                        <div class="col-sm-6">

                            <label class="col-sm-4">Position Status: </label>
                            <div class="col-sm-8">
                                <select class="form-control" v-model="formData.positionStatusId">
                                    <option v-for="positionStatus in positionStatuses" :value="positionStatus.PositionStatusId">{{ positionStatus.PositionStatusName }}</option>
                                </select>
                                <template v-if="errors.positionStatusId">
                                    <span class="error">{{ errors.positionStatusId }}</span>
                                </template>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-4" for="">Position Note:</label>
                            <div class="col-sm-8">
                                <textarea v-model="formData.positionNote" class="form-control"></textarea>
                                <template v-if="errors.positionNote">
                                    <span class="error">{{ errors.positionNote }}</span>
                                </template>
                            </div>
                        </div>
                        <div class="form-group"></div>

                        <div class="col-sm-6">
                            <div class="form-group"></div>
                            <div class="col-sm-6">
                                <button v-on:click="onSubmit"
                                        class="btn btn-primary">
                                    <i class="fa fa-pencil"></i> Submit
                                </button>
                                <button v-on:click="cancel" class="btn btn-danger"><i class="fa fa-times"></i> Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group"></div>
                <br />
                <br />
                <br />
            </template>

        </div>

        <div class="container">
            <template v-if="displayState === true" class="addButton">
                <button class="btn btn-warning" v-on:click="displayState = false">Back</button>
                <br />
                <br />
                <br />
                <h1>{{displayView.OpportunityName}}</h1>
                <h3>{{displayView.PositionName}}</h3>
                <h3><i>{{displayView.UnitName}}</i> - {{displayView.ClientName}}</h3>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                        <p>Number of Positions : {{displayView.NumberOfPositions}}</p>
                        <p>Status : {{displayStatusName(displayView.PositionStatusId)}}</p>
                        <p> Client Contact : {{displayView.ClientContact}}</p>
                        <p>Priority : {{displayView.Priority}}</p>
                        <p>Sold : {{displayView.SoldStatusName}}</p>
                        <p>AE : {{displayUser(displayView.AE)}}</p>
                        <p>ACT : {{displayUser(displayView.ACT)}}</p>
                        <p><b>Skillset</b> : {{displayView.Skillset}}</p>
                        <p>Expected Start Date : {{displayDate(displayView.ExpectedStartDate)}}</p>
                        <br />
                        <br />
                        <br />
                        <p>Last modified on <i>{{displayDate(displayView.LastModified)}}</i></p>
                    </div>
                    <div class="col-sm-">
                        <table>
                            <tr>
                                <th>Accepted Candidate</th>
                                <th>Proposed Candidate</th>
                                <th>Hire Candidate</th>
                                <th>Rejected Candidate</th>
                            </tr>
                            <tr>
                                <td>{{displayView.AcceptedCandidate}}</td>
                                <td>{{displayView.ProposedCandidate}}</td>
                                <td>{{displayView.HireCandidate}}</td>
                                <td>{{displayView.RejectedCandidate}}</td>
                            </tr>
                            <tr>
                                <th>Min Consultant Grade</th>
                                <th>Max Consultant Grade</th>
                                <th>Duration (Months)</th>
                                <th>Rate</th>
                            </tr>
                            <tr>
                                <td>{{displayGrade(displayView.MinConsultantGradeId)}}</td>
                                <td>{{displayGrade(displayView.MaxConsultantGradeId)}}</td>
                                <td>{{displayView.Duration}}</td>
                                <td>{{displayView.Rate}}</td>
                            </tr>
                        </table>
                    </div>

                </div>
                <br />
                <div class="form-group"></div>

            </template>
        </div>



        <div>
            <template>
                <h2>Practice Manager View</h2>
                <hr />
                <div class="scrollBar">
                    <table class='clientView'>
                        <tr>
                            <th>Opportunity Name</th>
                            <th>Unit</th>
                            <th>Number of Positions</th>
                            <th>Position Name</th>
                            <th>Priority</th>
                            <th>Sold</th>
                            <th>Status</th>
                            <th>Client</th>
                            <th>AE</th>
                            <th>ACT Lead</th>
                            <th>Details</th>
                            <th>Edit</th>
                        </tr>
                        <!-- VUE WILL GENERATE EACH ROW BASED ON DATA RECIEVED -->
                        <tr v-for="post in posts">
                            <td> {{ post.OpportunityName }}</td>
                            <td> {{ post.UnitName }} </td>
                            <td> {{ post.NumberOfPositions }} </td>
                            <td> {{ post.PositionName }}</td>
                            <td> {{ post.Priority }}</td>
                            <td> {{ post.SoldStatusName }}</td>
                            <td> {{ displayStatusName(post.PositionStatusId) }}</td>
                            <td> {{ post.ClientName }}</td>
                            <td> {{ displayUser(post.AE) }}</td>
                            <td> {{ displayUser(post.ACT) }}</td>
                            <td><button class="btn btn-warning" v-on:click="displayDetails(post)"><i class="fa fa-plus"></i></button></td>
                            <td><button class="btn btn-success" v-on:click="onEdit(post)"><i class="fa fa-edit"></i></button></td>
                        </tr>
                    </table>

                </div>

            </template>
        </div>


    </div>
</div>
<script type="text/javascript" src="../../Scripts/App/Home/validate.js"></script>
<script type="text/javascript" src="../../Scripts/App/Home/requests.js"></script>
<script type="text/javascript" src="../../Scripts/App/Home/app.js"></script>

