<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Content/Site.css" >
    <script type="text/javascript" 
    src="../../Scripts/vue.min.js"></script>
    <title>Sogeti Staffing Planner</title>
</head>

<body>
    <div id="appContainer">
        <div id="app" class='main'>
            <h1>Practice Manager View</h1>
            <table class='clientView'>
                <tr>
                    <th>NUMBER OF POSITIONS</th>
                    <th>UNIT</th>
                    <th>OPPORTUNITY NAME</th>
                    <th>POSITION NAME</th>
                    <th>PRIORITY</th>
                    <th>SOLD</th>
                    <th>STATUS</th>
                    <th>CLIENT</th>
                    <th>AE</th>
                    <th>ACT LEAD</th>
                    <th>SKILL SET</th>
                    <th>MIN CONSULTANT GRADE</th>
                    <th>MAX CONSULTANT GRADE</th>
                    <th>RATE</th>
                    <th>DATE</th>
                    <th>DURATION</th>
                    <th>HIRE CANDIDATES</th>
                    <th>PROPOSED</th>
                    <th>REJECTED</th>
                    <th>ACCEPTED</th>
                    <th>NOTES</th>
                </tr>
                <tr v-for="post in posts">
                    <td> {{ post.AccountName }} </td>
                    <td> {{ post.SubBusiness }} </td>
                    <td> {{ post.ProjectName }}</td>
                    <td> {{ post.Sponsor }}</td>
                    <td> {{ post.ProjectValue }}</td>
                    <td> {{ post.RequiredSkills }}</td>
                    <td> {{ post.ProjectType }}</td>
                    <td> {{ post.Status }}</td>
                    <td> {{ post.RateCard_HR }}</td>
                    <td> {{ post.ProjectPractice }}</td>
                    <td> {{ post.MaxTargetGrade }}</td>
                    <td> {{ post.TargetConsultants }}</td>
                    <td> {{ post.Location }}</td>
                    <td> {{ post.ActualStartDate }}</td>
                    <td> {{ post.Duration }}</td>
                    <td> {{ post.Priority }}</td>
                    <td> {{ post.NumberOfGoals }}</td>
                    <td> {{ post.AE }}</td>
                    <td> {{ post.LastEdited }}</td>
                    <td> {{ post.LastEdited }}</td>
                    <td> {{ post.LastEdited }}</td>
                </tr>
            </table>
        </div>
    </div>
    <script type="text/javascript" src="../../Scripts/App/Table/app.js"></script>
</body>
</html>
