<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script type="text/javascript" src="../../Scripts/vue.min.js"></script>
    <title>Sogeti Staffing Planner</title>
</head>

<body>
    <div class='main'>
        <h1>Practice Manager View</h1>
        <table class='clientView'>
            <tr>
                <th>ACCOUNT NAME</th>
                <th>SUB-BUSINESS</th>
                <th>PROJECT NAME</th>
                <th>SPONSOR</th>
                <th>PROJECT VALUE</th>
                <th>REQUIRED SKILLS</th>
                <th>PROJECT TYPE</th>
                <th>STATUS</th>
                <th>RATE CARD / HR</th>
                <th>PROJECT PRACTICE</th>
                <th>MAX TARGET GRADE</th>
                <th>TARGETED CONSULTANTS</th>
                <th>LOCATION</th>
                <th>ACTUAL START DATE</th>
                <th>DURATION</th>
                <th>PRIORITY</th>
                <th># OF ROLES</th>
                <th>AE</th>
                <th>LAST EDITED ON</th>
            </tr>
            <tr>
                <td>GE</td>
                <td>Power</td>
                <td>Alstom</td>
                <td>Pete Rogers</td>
                <td>null</td>
                <td>Python</td>
                <td>T&amp;M</td>
                <td>Sold</td>
                <td>$102</td>
                <td>Application and Cloud</td>
                <td>A3</td>
                <td>Zoe, Mitch, Dan</td>
                <td>Onshore</td>
                <td>1/1/2020</td>
                <td>1 year</td>
                <td>Medium</td>
                <td>5</td>
                <td>Mitch</td>
                <td>5/18/2018</td>
            </tr>
            <tr>
                <td>GE</td>
                <td>Power</td>
                <td>Alstom</td>
                <td>Pete Rogers</td>
                <td>null</td>
                <td>Python</td>
                <td>T&amp;M</td>
                <td>Sold</td>
                <td>$102</td>
                <td>Application and Cloud</td>
                <td>A3</td>
                <td>Zoe, Mitch, Dan</td>
                <td>Onshore</td>
                <td>1/1/2020</td>
                <td>1 year</td>
                <td>Medium</td>
                <td>5</td>
                <td>Mitch</td>
                <td>5/18/2018</td>
            </tr>
            <tr>
                <td>GE</td>
                <td>Power</td>
                <td>Alstom</td>
                <td>Pete Rogers</td>
                <td>null</td>
                <td>Python</td>
                <td>T&amp;M</td>
                <td>Sold</td>
                <td>$102</td>
                <td>Application and Cloud</td>
                <td>A3</td>
                <td>Zoe, Mitch, Dan</td>
                <td>Onshore</td>
                <td>1/1/2020</td>
                <td>1 year</td>
                <td>Medium</td>
                <td>5</td>
                <td>Mitch</td>
                <td>5/18/2018</td>
            </tr>
            <tr>
                <td>GE</td>
                <td>Power</td>
                <td>Alstom</td>
                <td>Pete Rogers</td>
                <td>null</td>
                <td>Python</td>
                <td>T&amp;M</td>
                <td>Sold</td>
                <td>$102</td>
                <td>Application and Cloud</td>
                <td>A3</td>
                <td>Zoe, Mitch, Dan</td>
                <td>Onshore</td>
                <td>1/1/2020</td>
                <td>1 year</td>
                <td>Medium</td>
                <td>5</td>
                <td>Mitch</td>
                <td>5/18/2018</td>
            </tr>
            <tr>
                <td>GE</td>
                <td>Power</td>
                <td>Alstom</td>
                <td>Pete Rogers</td>
                <td>null</td>
                <td>Python</td>
                <td>T&amp;M</td>
                <td>Sold</td>
                <td>$102</td>
                <td>Application and Cloud</td>
                <td>A3</td>
                <td>Zoe, Mitch, Dan</td>
                <td>Onshore</td>
                <td>1/1/2020</td>
                <td>1 year</td>
                <td>Medium</td>
                <td>5</td>
                <td>Mitch</td>
                <td>5/18/2018</td>
            </tr>
            <tr>
                <td>GE</td>
                <td>Power</td>
                <td>Alstom</td>
                <td>Pete Rogers</td>
                <td>null</td>
                <td>Python</td>
                <td>T&amp;M</td>
                <td>Sold</td>
                <td>$102</td>
                <td>Application and Cloud</td>
                <td>A3</td>
                <td>Zoe, Mitch, Dan</td>
                <td>Onshore</td>
                <td>1/1/2020</td>
                <td>1 year</td>
                <td>Medium</td>
                <td>5</td>
                <td>Mitch</td>
                <td>5/18/2018</td>
            </tr>
        </table>
        <div class='pageCount'>
            <ul class='pageList'>
                <li>&lt;</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>&gt;</li>
            </ul>
        </div>
        <br><br><br><br>
    </div>
</body>
</html>
