div id="app" class="main">
<h1>Opportunity</h1>
<!-- MISSING POSITION FILEDS NEED TO BE ADDED ASAP -->
<table>
    <tr>
        <th>Name</th>
        <th>Opportunity Notes</th>
        <th>Client Contact</th>
        <th>Accepted Candidate</th>
    </tr>
    <!-- BEGIN VUE DYNAMIC TABLE -->
    <tr v-for="opportunityToUpdate in Opportunity">
        <td>{{ opportunityToUpdate.OpportunityName }}</td>
        <td>{{ opportunityToUpdate.OpportunityNotes }}</td>
        <td>{{ opportunityToUpdate.ClientContact }}</td>
        
    </tr>
    <!-- END VUE DYNAMIC TABLE -->
</table>
</div>
<script type="text/javascript" src="../../Scripts/App/Position/position.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
