

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="opportunity" class="main">
        <div v-if="moreState === false">
            <h2>Opportunity List</h2>
            <hr />
            <div v-if="addState === false" class="addButton">
                <button v-on:click="addState = true" class="btn btn-primary">
                    <i class="fa fa-pencil"></i> Add Opportunity
                </button>
                <div class="form-group"></div>
            </div>
            <template v-else>
                <div class="addButton">
                    <div class="form-horizontal">
                        <div class="form-group"></div>
                        <div class="col-sm-6">
                            <label class="col-sm-4">Opportunity Name: </label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" v-model="opportunityName" />
                                <span class="error">{{ errors.opportunityName }}</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-4">Client: </label>
                            <div class="col-sm-8">
                                <select class="form-control" v-model="clientId">
                                    <option v-for="client in clients" :value="client.ClientId" class="form-control">
                                        {{ client.ClientName }}: {{ client.ClientSubbusiness }}
                                    </option>
                                </select>
                                <span class="error">{{ errors.clientId }}</span>
                            </div>
                        </div>
                            
                            <div class="form-group"></div>
                            <div class="col-sm-6">
                                <label class="col-sm-4">Client Contact: </label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" v-model="clientContact" />
                                    <span class="error">{{ errors.clientContact }}</span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label class="col-sm-4">Account Executive: </label>
                                <div class="col-sm-8">
                                    <select class="form-control" v-model="accountExecutiveUserId">
                                        <option v-for="ae in aes" :value="ae.UserId">{{ ae.FullName }}</option>
                                    </select>
                                    <span class="error">{{ errors.accountExecutiveUserId }}</span>
                                </div>
                            </div>

                            <div class="form-group"></div>
                            <div class="col-sm-6">
                                <label class="col-sm-4">Unit: </label>
                                <div class="col-sm-8">
                                    <select class="form-control" v-model="unitId">
                                        <option v-for="unit in units" :value="unit.UnitId">{{ unit.UnitName }}</option>
                                    </select>
                                    <span class="error">{{ errors.unitId }}</span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label class="col-sm-4">Region: </label>
                                <div class="col-sm-8">
                                    <select class="form-control" v-model="regionId">
                                        <option v-for="region in regions" :value="region.RegionId">{{ region.RegionName }}</option>
                                    </select>
                                    <span class="error">{{ errors.regionId }}</span>
                                </div>
                            </div>
                            
                            <div class="form-group"></div>

                            <div class="col-sm-6">
                                <label class="col-sm-4">Sold Status: </label>
                                <div class="col-sm-8">
                                    <select class="form-control" v-model="soldStatusId">
                                        <option v-for="soldStatus in soldStatuses" :value="soldStatus.SoldStatusId">{{ soldStatus.SoldStatusName }}</option>
                                    </select>
                                    <span class="error">{{ errors.soldStatusId }}</span>
                                </div>
                            </div>
                           
                            <div class="col-sm-6">
                                <label class="col-sm-4">Opportunity Owner: </label>
                                <div class="col-sm-8">
                                    <select class="form-control" v-model="opportunityOwnerUserId">
                                        <option v-for="ACTLead in ACTLeads" :value="ACTLead.UserId">{{ ACTLead.FullName }}</option>
                                    </select>
                                    <span class="error">{{ errors.opportunityOwnerUserId }}</span>
                                </div>
                            </div>
                            
                            <div class="form-group"></div>
                            <div class="col-sm-6">
                                <label class="col-sm-4">Opportunity Notes: </label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" type="text" v-model="opportunityNotes">
                                    </textarea>
                                    <span class="error">{{ errors.opportunityNotes }}</span>
                                </div>
                            </div>
                            <template v-if="updateState">
                                <div class="col-sm-6">
                                    <label class="col-sm-4">Active: </label>
                                    <input type="checkbox" id="checkbox" v-model="active">
                                    <label>{{ this.active }}</label>
                                </div>
                            </template>
                            <div class="form-group"></div>
                            <div class="col-sm-6">
                                <button class="btn btn-primary" v-on:click="onSubmit"><i class="fa fa-pencil"></i> {{ updateState ? 'Update' : 'Add'}}</button>
                                <button class="btn btn-danger" v-on:click="clearForm"><i class="fa fa-times"></i> Cancel</button>
                            </div>

                            <div class="form-group"></div>
                        </div>
                    </div>
            </template>

            <template>
                <div class="scrollBar">
                    <table>
                        <tr>
                            <th>Opportunity Name</th>
                            <th>Client</th>
                            <th>AE</th>
                            <th>Unit</th>
                            <th>Client Contact</th>
                            <th>Region</th>
                            <th>Edit</th>
                            <th>Details</th>
                            <th>Delete</th>
                        </tr>
                        <tr v-for="opportunity in opportunities">
                            <td>{{ opportunity.opportunityName }}</td>
                            <td>{{ getClientName(opportunity.clientId) }}</td>
                            <td>{{ getAEName(opportunity.accountExecutiveUserId) }}</td>
                            <td>{{ getUnitName(opportunity.unitId) }}</td>
                            <td>{{ opportunity.clientContact }}</td>
                            <td>{{ getRegionName(opportunity.regionId) }}</td>
                            <td><button class="btn btn-success" v-on:click="onEdit(opportunity)"><i class="fa fa-edit"></i></button></td>
                            <td><button class="btn btn-warning" v-on:click="displayDetail(opportunity)"><i class="fa fa-plus"></i></button></td>
                            <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                        </tr>
                    </table>
                </div>
                
            </template>
        </div>

            
        <!-- DISPLAY DETAILED INFORMATION ABOUT POSITION -->
        <template v-else>
            <button class="btn btn-warning" v-on:click="opportunityDetail = false; moreState = false;"><i class="fa fa-caret-left"></i> Back</button>
            <h3>Opportunity Name: {{ this.opportunityDetail.opportunityName }}</h3>

            <hr />
            <h4> <strong>Opportunity Owner: {{ getOpportunityName(this.opportunityDetail.opportunityOwnerUserId) }}</h4>
            <h4>Client Name: {{ getClientName(this.opportunityDetail.clientId) }}</h4>
            <h4>Client Contact: {{ this.opportunityDetail.clientContact }}</h4>
            <br />
            <h5>AE: {{ getAEName(this.opportunityDetail.accountExecutiveUserId) }}</h5>
            <h5>Unit: {{ getUnitName(this.opportunityDetail.unitId) }}</h5>

            <h5>Region: {{ getRegionName(this.opportunityDetail.regionId) }}</h5>
            <h5>Sold Status: {{ getSoldStatus(this.opportunityDetail.soldStatusId) }}</h5>



            <h5 v-if="opportunityDetail.active">Active</h5>

            <br />
            <h3>Notes:</h3>
            <p>{{this.opportunityDetail.opportunityNotes}}</p>
            <h5><em>Last Modified By: {{ getLastModifiedUserName(this.opportunityDetail.lastModifiedUserId) }} on {{this.opportunityDetail.lastModified}}</em></h5>
        </template>
    </div>
</body>
</html>
<script type="text/javascript" src="../../Scripts/App/opportunity/opportunity.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}