<connectionStrings>
	<clear/>
	<add name="ClientOpportunitiesEntities" connectionString="metadata=res://*/Models.ClientOpportunities.csdl|res://*/Models.ClientOpportunities.ssdl|res://*/Models.ClientOpportunities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.224.91.41;initial catalog=Test_ClientOpportunities;user id=webapp;password=webapp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>