
@{
    ViewBag.Title = "CreateClient";
}

<h2>Create a New Client</h2>

<div id="createClient" class="main">
    <!-- BEGIN FORM FOR ADDING A CLIENT -->
    <label for="ClientName">Client Name: </label>
    <input type="text" v-model="ClientName" />
    <label for="ClientSubbusiness">Client Subbusiness </label>
    <input type="text" v-model="ClientSubbusiness" />
    <button v-on:click="onSubmit">Add</button>
    <!-- END FORM FOR ADDING A CLIENT -->
    <!-- BEGIN DYNAMIC VUE TABLE OUTPUT -->
    <table id="clientView">
        <tr>
            <th>Client Name</th>
            <th>Client Subbusiness</th>
        </tr>
        <tr v-for="client in clients">
            <td>{{ client.ClientName }}</td>
            <td>{{ client.ClientSubbusiness }}</td>
        </tr>
    </table>
    <!-- END DYNAMIC VUE TABLE OUTPUT -->
</div>

<script type="text/javascript" src="../../Scripts/App/Client/client.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}