
<div id="region" class="main">
    <h2>Region List</h2>

</div>

<script type="text/javascript" src="../../Scripts/App/Region/region.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}