
<div id="ae" class="main">
    <h2>Unit List</h2>

</div>

<script type="text/javascript" src="../../Scripts/App/Unit/unit.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}